<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Título {% endblock %}</title>
    <link href="{{ url_for('static', filename='./css/bootstrap.min.css') }}" rel="stylesheet">
</head>

<body class="d-flex flex-column min-vh-100">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Estacionamento</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Movimentos</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" href="#">Veículos</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" href="#">Clientes</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link active dropdown-toggle " href="#" role="button"
                                data-bs-toggle="dropdown">
                                Relatórios
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Faturamento</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link active dropdown-toggle " href="#" role="button"
                                data-bs-toggle="dropdown">
                                Cadastros
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Tipos</a></li>
                                <li><a class="dropdown-item" href="#">Cores</a></li>
                                <li><a class="dropdown-item" href="#">Tabela de preços</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main class="flex-grow-1 container my-5">
        {% block conteudo %}
        {% endblock %}
    </main>

    <footer class="bg-dark text-white text-center py-3 mt-auto">
        <div class="container">
            <small>© 2026 Projeto - Todos os direitos reservados</small>
        </div>
    </footer>

    
    <script src="{{ url_for('static', filename='./js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='./js/bootstrap.min.js') }}"></script>
</body>

</html>